# Ignore the virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore API Keys and Credentials!
credentials.json

# Ignore local database and logs
attendance_log.csv
attendance_backup_*.csv
attendance_qr.png